body{
  background-color: #151515;
}

#HereIsPicture {
  color: transparent;
}

footer{
  color: white;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

a{
  color: rgb(155, 155, 155);
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
}

a:hover{
  color: white;
}